<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="assets/css/course.css">

</head>
<body>
<button onclick="window.location.href='addcourse.html'">Add course</button>
<table style="width:100%">
    <tr>
        <th>Courses</th>
        <th>Instructor</th>
    </tr>
    <tr>
        <td>Course1</td>
        <td>Instructor1</td>
    </tr>
    <tr>
        <td>Course2</td>
        <td>Instructor2</td>
    </tr>
    <tr>
        <td>Course3</td>
        <td>Instructor3</td>
    </tr>
</table>
</body>
</html>